body
{
    width: 35%;
    margin: auto;
}

body > div 
{
    border: 1px solid gray;
}

h2
{
    margin: 10px auto 15px;
    width: 60%;
    text-align: center;
}

input:invalid
{
    border: 2px solid red;
}

.labels
{
    width: 20%;
    display: inline-block;
}

.labels + input
{
    width: 75%;
}

form > div,
button,
.first_page > p
{
    margin: 10px;
}

input[type='checkbox']
{
    margin: 7px 5px 5px 0;
}

button
{
    padding: 5px 15px;
    font-size: 15px;
}

.second_page
{
    background: rgb(248, 248, 248);
    border: 1px solid gray;
}

img
{
    float: right;
    margin-top: 20px;
    width: 150px;
    height: 100px;
}

.second_page > p
{
    margin: 20px 160px 5px 20px;
    font-size: 20px;
}

.second_page > p:last-of-type
{
    margin-bottom: 100px;
}

footer
{
    border-top: 1px solid lightgray;
    padding: 15px;
}

.copyright
{
    float: right;
}

a
{
    text-decoration: none;
}
