form
{
    width: 500px;
    height: 400px;
    top: 15px;
    left: 20px;
    float: left;
}
	
.form 
{
    font-size: 18px;
}
	
.field
{
    padding-bottom: 5px;
    display: flex;
}
	
div.field input
{
    width: 350px;
}
	
h1
{
    text-align: center;
    font-size: 28px;
}
	
.button
{
    width: 120px;
    height: 40px;
}
	
.letter
{
    width: 600px;
    height: 450px;
    float: left;
    background: #f5f5f5;
    padding-left: 30px;
    outline: 2px solid #dcdcdc;
}

div.words p
{
    float: left;
    font-size: 21px;
    top: 20;
    left: 20;
}
	
img
{
    width: 170px;
    height: 170px;
    margin-right: 20px;
    float: right;
}
	
div.words a
{
    text-decoration: none;
}

hr
{
    border: 1px solid #dcdcdc;
    margin-left: -4%;
    width: 600px;
    margin-top: 55%;
}
	
.yandex
{
    float: right;
    margin-right: 30px;
}
