.subscription-form-title
{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 23px;
    margin-top: 6px;
}

.subscription-description
{
    margin: 0;
    padding-top: 6px;
    padding-bottom: 14px;
}

.subscription-form-container
{
    margin: auto;
    padding: 20px 20px 20px 15px;

    border: 1px solid #d2d2d2;
    border-radius: 2px;

    background: white;

    width: 538px;
    height: 416px;

    font-family: 'Microsoft Reference Sans Serif', sans-serif;
    font-size: 16px;
}

.subscription-form
{
    padding: 0 5px;
}

.subscription-form table
{
    border-spacing: 0;
    margin-bottom: 19px;
}

.subscription-form td
{
    padding: 0 0 9px;
}

.form-field
{
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
}

.form-field label
{
    line-height: 32px;
}

.form-field input
{
    width: 411px;
    height: 29px;
    float: right;
    font-family: 'Microsoft Reference Sans Serif', sans-serif;
    font-size: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    padding: 0 5px 0 7px;
    margin-right: 8px;
}

.subscription-form-fields
{
    margin-bottom: 23px;
}

.subscription-method-description
{
    margin-bottom: 8px;
}

input[type='checkbox']
{
    cursor: hand;
    position: absolute;
    opacity: 0;
}

.custom-checkbox
{
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    margin-right: 10px;
}

label
{
    cursor: pointer;
}

label:hover input ~ .custom-checkbox
{
    box-shadow: inset 0 90px #ffeba0;

}

label input:checked ~ .custom-checkbox
{
    box-shadow: inset 0 90px #ffeba0;
}

.custom-checkbox:after
{
    display: none;
    position: absolute;
    content: '';
}

label input:checked ~ .custom-checkbox:after
{
    display: block;
}

label .custom-checkbox:after
{
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type='submit']
{
    cursor: pointer;
    background-color: white;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    padding: 10px 30px 10px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-family: 'Microsoft Reference Sans Serif', sans-serif;
    font-size: 16px;
}

input[type='submit']:hover
{
    background-color: #ffeba0;
}

/* Letter */

.subscription-letter
{
    position: relative;
    margin: auto;
    padding-top: 21px;

    border: 1px solid #c9c9c9;

    background: #f8f8f8;

    width: 573px;
    height: 416px;

    font-family: 'Microsoft Reference Sans Serif', sans-serif;
    font-size: 19px;
}

a
{
    text-decoration: none;
}

table
{
    border-spacing: 0;
}

.subscription-letter-main
{
    padding-left: 20px;
}

.logo
{
    vertical-align: top;
}

.subscription-letter-main td
{
    padding: 0;
    vertical-align: top;
}

.footer-outer
{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #c9c9c9;
}

.footer-inner
{
    margin-right: 15px;
    margin-left: 21px;
    font-size: 14px;
}

.copyright
{
    float: right;
}

.report
{
    float: left;
}
