.container-form,
.container-mail
{
    margin: auto;
    border: 1px black solid;
    color: #282828;
}

.container-form
{
    padding: 20px;
    height: 440px;
    width: 458px;
}

.container-form h1
{
    text-align: center;
}

.user-info:nth-child(2)
{
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-info input
{
    float: right;
    width: 350px;
    height: 20px;
}

input::placeholder
{
    padding: 10px;
}

.notifications
{
    margin-top: 30px;
}

button[type='submit']
{
    width: 140px;
    height: 40px;
    background-color: white;
    border: 1px solid #a5a5a5;
    margin-top: 30px;
    cursor: pointer;
}

.container-mail
{
    width: 576px;
    background-color: #f8f8f8;
}

.container-mail .main
{
    padding: 10px;
}

.container-mail img
{
    float: right;
    width: 150px;
    height: 100px;
}

.container-mail a
{
    text-decoration: none;
    color: #5d72c4;
}

.container-mail footer
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.container-mail footer span
{
    float: right;
}
