body 
{
    font-family: Arial, Helvetica, sans-serif;
}

.subscription-wrap
{
    border: 1px solid #d5d4d4;
    width: 40%;
    padding: 40px 60px;
    margin: 64px;
}

.subscription-caption 
{
    width: 80%;
}

.subscription-header 
{
    margin-bottom: 16px;
    text-align: center;
}

.subscription-text 
{
    line-height: 24px;
    margin-bottom: 32px;
}

.subscription-form 
{
    width: 100%;
}

.form-field 
{
    margin-bottom: 24px;
    padding: 4px;
}

.form-type 
{
    width: 124px;
    float: left;
}

.form-field 
{
    width: 70%;
}

.checkbox-chooze 
{
    margin: 16px 0;
}

.checkbox-fields input,
.checkbox-fields label 
{
    display: inline-block;
    vertical-align: middle;
}

.checkbox-fields input
{
    transform: scale(1.1);
    cursor: pointer;
}

.subscription-send 
{
    margin: 24px 0;
    border: 1px solid #d5d4d4;
    padding: 10px 14px;
    font-size: 16px;
}

.notification 
{
    position: relative;
    background-color: #f8f8f8;
    width: 49%;
    border: 1px solid #d5d4d4;
    margin: 64px;
}

.notification-description 
{
    margin-top: 32px;
    border-bottom: 1px solid #d5d4d4;
    padding: 0 30px 88px;
}

.logo 
{
    width: 100px;
    height: auto;
    float: right;
}

.notification-description > p 
{
    margin: 16px 0;
    width: 60%;
    line-height: 24px;
}

.notification-description > span 
{
    position: absolute;
    display: block;
    background-color: #fff;
    padding: 16px 32px;
    top: 48px;
    right: 24px;
    font-size: 24px;
}

.notification-description > span::first-letter 
{
    color: #ff00;
}

.footer a,
.footer .copyright a,
.notification-description p a 
{
    text-decoration: none;
}

.footer 
{
    padding: 16px 30px;
}

.footer a 
{
    float: left;
}

.copyright a 
{
    margin-left: 8px;
}

.copyright a,
.copyright 
{
    float: right;
}

.clearfix::after 
{
    content: '';
    clear: both;
    display: table;
}

.clearfix 
{
    overflow: auto;
}
