.subscribe-form
{
    width: 500px;
    margin: 0 auto 20px;
}

.subscribe-form .subscribe
{
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-left: 10px;
}

.subscribe-form .subscribe h2
{
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

.subscribe-form .subscribe p,
.subscribe-form .subscribe label
{
    font-size: 18px;
}

.subscribe-form .subscribe table
{
    width: 100%;
    border-spacing: 0 10px;
}

.subscribe-form .subscribe td:first-child
{
    width: 20%;
}

.subscribe-form .subscribe td:last-child > input
{
    width: 95%;
    font-size: 16px;
}

.subscribe-form .subscribe .notification
{
    margin-top: 10px;
    margin-left: -10px;
    border: none;
}

.subscribe-form .subscribe .notification legend
{
    font-size: 18px;
}

.subscribe-form .subscribe .submit-button
{
    margin-top: 10px;
}

.subscribe-form .subscribe input
{
    border: 1px solid lightgray;
}

.subscribe-form .subscribe input[type='checkbox']
{
    display: none;
}

.subscribe-form .subscribe input[type='checkbox'] + label::before
{
    content: '';
    display: inline-block;
    height: 14px;
    width: 14px;
    border: 1px solid lightgray;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.subscribe-form .subscribe input[type='checkbox']:checked + label::before
{
    background: lightgray;
}

.subscribe-form .subscribe input[type='submit']
{
    padding: 5px 25px;
    background: white;
    font-size: 16px;
}

.letter
{
    width: 600px;
    border: 1px solid lightgray;
    margin: auto;
}

.letter table
{
    border: 0;
    margin: 0;
    border-collapse: collapse;
}

.letter table td
{
    font-size: 22px;
    padding: 10px;
}

.letter table td:last-child
{
    width: 120px;
    text-align: center;
}

.letter table tr:last-child td
{
    font-size: 16px;
    border-top: 1px solid lightgray;
}

.letter a
{
    text-decoration: none;
}
