@font-face {
    font-family: 'YandexSansText-Medium';
    src: url('./Fonts/YandexSansText-Medium.woff') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'YandexSansText-Regular';
    src: url('./Fonts/YandexSansText-Regular.woff') format('woff2');
    font-weight: 100;
    font-style: normal;
}

* {
    font-family: YandexSansText-Regular, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 150vh;
}

.form {
    width: 575px;
    height: 460px;
    border: 1.2px solid #dedddd;
    padding: 26px 18px 20px 18px;
    box-sizing: border-box;
}

.form_describe {
    width: 90%;
    font-size: 15.5px;
    margin-bottom: 20px;
}

.form_userinfo {
    width: 97%;
    height: 130px;
    font-size: 14px;
    margin-bottom: 20px;
}

label {
    font-size: 17px;
}

.form_userinfo_line {
    width: 100%;
    height: 34px;
    margin-bottom: 10px;
}

.form_userinfo_line-value {
    margin-top: 3px;
    float: left;
    font-size: 17px;
}

.form_userinfo_field {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    padding-left: 5px;
    padding-bottom: 5px;
    outline: none;
    width: 82%;
    height: 32px;
    border-radius: 2px;
    border: 1.4px solid #dedddd;
    font-size: 17px;
}

.form_userinfo_field:hover {
    border: 1.4px solid#f69c00;
}

.form_userinfo_field:focus {
    border: 2px solid#f69c00;
}

h1 {
    margin-bottom: 28px;
    font-family: YandexSansText-Medium, Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
}

button {
    float: left;
    background: white;
    border: 1px solid #dedddd;
    border-radius: 2px;
    text-align: center;
    padding: 8px 30px;
    font-size: 17px;
    width: 31%;
}

button:hover {
    border: 1px solid#f69c00;
}

button::after {
    background-color: #dedddd;
    width: 200px;
    height: 100px;
}

.checkbox {
    display: none;
}

.styled_checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #dedddd;
    border-radius: 2px;
    margin-right: 8px;
    vertical-align: middle;
}

.form_choose {
    height: 80px;
    margin-bottom: 25px;
}

.styled_checkbox:hover {
    border: 1px solid#f69c00;
}

.form_choose-item,
.form_choose-description {
    width: 100%;
    margin-bottom: 7px;
}

.checkbox:checked+.styled_checkbox::before {
    content: "";
    padding-top: 0;
    display: block;
    position: absolute;
    margin-top: 3px;
    margin-left: 3px;
    background-color: #dedddd;
    width: 12px;
    height: 12px;
}

table {
    margin: 0 auto;
}