body
{
    width: 40%;
    margin: 0;
    height: max-content;
}

div
{
    background: rgb(248, 248, 248);
    border: 1px solid gray;
}

img
{
    float: right;
    margin-top: 20px;
    width: 150px;
    height: 100px;
}

p
{
    margin: 20px 160px 5px 20px;
    font-size: 20px;
}

p:last-of-type
{
    margin-bottom: 100px;
}

footer
{
    border-top: 1px solid lightgray;
    padding: 15px;
}

.copyright
{
    float: right;
}

a
{
    text-decoration: none;
}
