table
{
    border: solid 1px #ddd;
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
}

.border td
{
    border-bottom: 1pt solid #aaa;
}

.padding
{
    padding: 20px;
}

.nodecoration
{
    text-decoration: none;
}
