.form-content
{
    border: 1px solid gainsboro;
    margin: 10px;
    padding: 20px;
    width: 575px;
    height: 460px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.form-header
{
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.form-input
{
    width: 430px;
    float: right;
    height: 24px;
    border: 1px solid gainsboro;
    padding-left: 10px;
}

.form-field
{
    height: 30px;
    margin-top: 20px;
    margin-right: 30px;
    line-height: 30px;
}

.block-input
{
    display: block;
}

.notify-choice
{
    margin-top: 30px;
}

.checkbox-field
{
    margin-top: 10px;
}

.form-submit-button
{
    margin-top: 30px;
    background-color: white;
    width: 160px;
    height: 40px;
    border: 1px solid gainsboro;
    font-size: 18px;
}

.form-submit-button:hover
{
    background-color: rgb(255, 219, 77);
}

.modified-checkbox
{
    margin-left: 0;
    margin-right: 10px;
}
