.wrapper
{
    padding: 20px;
    width: 500px;
    font-family: Arial, serif;
}

.wrapper-padding-b
{
    padding-bottom: 50px;
}

.mail
{
    background-color: #f8f8f8;
    padding: 0;
    width: 540px;
}

.field-wrapper
{
    margin: 16px 0;
    line-height: 1.5em;
}

.btn
{
    background-color: white;
    border: 1px solid lightgray;
    width: 110px;
    height: 30px;
}

input
{
    vertical-align: middle;
    padding: 3px;
}

header
{
    margin-top: 0;
    text-align: center;
}

.notifs
{
    margin-top: 24px;
}

.box
{
    width: 80%;
    float: right;
}

img
{
    float: right;
    height: 100px;
    padding: 12px 0;
}

footer
{
    border-top: 1px solid lightgray;
    height: 40px;
}

.footer-left
{
    float: left;
    margin: 10px;
    padding-left: 5px;
}

.footer-right
{
    float: right;
    margin: 10px;
    padding-right: 5px;
}
