@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.block-form {
    width: 100%;
    max-width: 575px;
    height: auto;
    border: 1px solid #c7c7c7;
    padding: 25px 20px 20px;
    margin: 50px auto;
    background: #fff;
    box-sizing: border-box;
}
.block-form__title {
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin: 0px 0px 25px;
    color: #000;
}
.block-form__description {
    font-size: 17px;
    margin: 0px;
    color: #000;
}
.block-form__information-user {
    width: 100%;
    margin: 20px 0px;
}
.block-form__row {
    width: 100%; 
}
.block-form__row_margin-bottom{
	margin-bottom: 15px;
}
.block-form__row_margin-bottom:last-child{
	margin-bottom: 0px;
}
.block-form__label {
    width: 95px;
    display: inline-block;
    color: #000;
    font-size: 17px;
}
.block-form__input-information-user {
    width: calc( 100% - 105px);
    display: inline-block;
    max-width: 100%;
    border: 1px solid #c7c7c7;
    font-size: 17px;
    padding: 6px 10px;
    box-sizing: border-box;
}
.block-form__notifications {
    width: 100%;
    margin: 5px 0px 25px;
}
.block-form__button-submit {
    border: 1px solid #c7c7c7;
    background: #fff;
    font-size: 18px;
    padding: 8px 25px;
}
.block-form__button-submit:hover{
	cursor: pointer;
}
.block-letter {
    width: 100%;
    max-width: 575px;
    height: auto;
    border: 1px solid #c7c7c7;
    margin: 50px auto;
    background: #f8f8f8;
    box-sizing: border-box;
}