.subscription
{
    width: 574px;
    box-sizing: border-box;
    border: 1px solid #cfcece;
    padding: 20px 30px 20px 20px;
}

.subscription__header
{
    text-align: center;
    margin: 0 0 20px;
}

.subscription__warning
{
    margin: 0 0 20px;
}

.subscription__field
{
    margin: 10px 0;
}

.subscription__field-label
{
    display: inline-block;
    min-width: 90px;
}

.subscription__field-value
{
    padding: 5px;
    font-size: 16px;
}

.subscription__options
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.subscription__options-message
{
    margin-bottom: 6px;
}

.subscription__option
{
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.subscription__option-input
{
    margin-right: 10px;
    transform: scale(1.2);
}

.subscription__submit-button
{
    width: 160px;
    height: 40px;
    border: 1px solid #cfcece;
    font-size: 16px;
    font-weight: 500;
}

.letter-wrapper
{
    margin-top: 10px;
    width: 574px;
}

.letter
{
    width: 100%;
    border: 1px solid #cfcece;
    background: #f6f6f6;
    border-collapse: collapse;
}

.letter__logo
{
    vertical-align: top;
    padding-top: 20px;
}

.letter__link
{
    text-decoration: none;
}

.letter__text
{
    padding: 5px 40px 70px 20px;
    font-size: 18px;
}

.letter__footer
{
    font-size: 14px;
}

.letter__footer td
{
    border-top: 1px solid #cfcece;
}

.letter__footer-left
{
    padding-left: 20px;
}

.letter__footer-right
{
    text-align: right;
    padding-right: 20px;
}
